@font-face {
  font-family: 'Now';
  src: url('~@/assets/fonts/Now-Thin.otf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Now';
  src: url('~@/assets/fonts/Now-Light.otf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Now';
  src: url('~@/assets/fonts/Now-Regular.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Now';
  src: url('~@/assets/fonts/Now-Medium.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Now';
  src: url('~@/assets/fonts/Now-Bold.otf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Now';
  src: url('~@/assets/fonts/Now-Black.otf') format('truetype');
  font-weight: 800;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600i,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');