$max-screen-size: 1100px;
$min-screen-size: 380px;

$desktop-size: 1024px;
$tablet-size: 768px;
$mobile-size: 425px;
$small-mobile-size: 320px;


$brand-color-white: #fdfdfd;
$brand-color-purple: #6423FA;
$brand-color-blue: #4EC0DE;