@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import 'fonts';
@import 'typography';
@import 'globals';

html, body {
    font-family: 'Open Sans', sans-serif;
    @include fluid-type(12px, 18px);
}

h1, h2, h3, h4, h5 {
    font-family: 'Now', sans-serif;
}

.page-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  max-width: $desktop-size;
  width: 100%;
}