@import '~@/styles/globals';
@import '~@/styles/typography';

.container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}

.not-found {
  // background: desaturate(darken(blue, 10%), 25%);
  background: #111;
  flex-grow: 1;
  padding: 1rem;

  &__image {
    width: 20vw;
    margin-bottom: -5vw;
  }

  &__title {
    font-family: 'Abril Fatface', serif;
    color: $brand-color-white;
    @include fluid-type(40px, 70px);
    font-weight: bold;
    text-align: center;

    display: flex;

    @media only screen and (max-width: $mobile-size) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__ellipses {
    margin-top: 0.5rem;
    display: flex;
    min-width: 2.3rem;
    min-height: 0.6rem;
    align-items: flex-end;
    
    position: relative;
    top: -13px;
    left: 8px;
    
    @media only screen and (max-width: $mobile-size) {
      top: 0;
      left: 0;
    }

    .dot {
      border-radius: 100%;
      background: #fff;
      height: 0.5rem;
      width: 0.5rem;
      margin-right: 4px
    }
  }
}
