@import '~@/styles/globals';
@import '~@/styles/typography';

.container {
  flex-direction: column;
  align-items: flex-start;
  // justify-content: center;
  align-items: center;

  padding-top: 5em;
}

.not-found {
  background-color: $brand-color-off-blue;
  // background: #111;
  flex-grow: 1;
  padding: 1rem;

  &__image {
    width: 43vw;
    min-width: 131px;
    max-width: 206px;
    margin-bottom: -3.5rem;
  }

  &__title {
    font-family: 'Now', sans-serif;
    color: $brand-color-white;
    @include fluid-type(40px, 60px);
    font-weight: bold;
    // letter-spacing: -3px;
    text-rendering: optimizeLegibility; 
    text-align: center;
    text-transform: uppercase;

    display: flex;

    @media only screen and (max-width: $mobile-size) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__ellipses {
    margin-top: 0.5rem;
    display: flex;
    min-width: 2.3rem;
    min-height: 0.6rem;
    align-items: center;
    
    position: relative;
    left: 0.15em;
    top: 0.17em;
    
    @media only screen and (max-width: $mobile-size) {
      top: 0.5rem;
      left: 0;

      // justify-content: center;
    }

    .dot {
      border-radius: 100%;
      background: #fff;
      height: 0.5rem;
      width: 0.5rem;
      margin-right: 4px
    }
  }
}
