@import '~@/styles/globals';
@import '~@/styles/typography';

.not-found {
  background: desaturate(darken(blue, 10%), 25%);
  flex-grow: 1;
  padding: 1rem;
}

.container {
  flex-direction: column;
  align-items: flex-start;
}

h2, h4 {
  color: $brand-color-white;
}

h2 {
  font-family: 'Abril Fatface', serif;
  color: $brand-color-white;
  @include fluid-type(70px, 90px);
  // letter-spacing: 0.05em;
}

h4 {
  @include fluid-type(60px - 40px, 120px - 40px);
}