@import '~@/styles/globals';
@import '~@/styles/typography';

nav {
  // background: darken(#551ED6, 5%);

  // position: sticky;
  // top: 0;
  // left: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  transition: background 0.5s ease-in-out;

  &.dark {
    background: rgb(35, 35, 45);
  }

  &.blue {
    background: lighten(blue, 10%);
  }
}

.nav-bar {
  justify-content: space-between;
  box-sizing: content-box;
  min-height: 1.75rem;
  padding: 1rem 1rem;
  color: $brand-color-white;

  &__links {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  &__item {
    // padding: 0.25rem 1rem;
    margin-left: 4rem;
    line-height: 1;
    font-weight: bold;
    // box-sizing: border-box;
    @include fluid-type(10px, 14px);
  
    transition: background-color 0.2s ease-in-out;
  
    a {
      display: block;
      position: relative;

      $thetransition: all .5s cubic-bezier(1,.25,0,.75) 0s;


      &:before {
        content: "";
        position: absolute;

        width: calc(100% - 2px);
        height: 2px;
        left: 1px;
        bottom: -6px;

        background-color: $brand-color-white;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: $thetransition;
        transition: $thetransition;
      }

      &.router-link-active:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
  
      &:active, &:visited, &:link {
        color: $brand-color-white;
        text-decoration: none;
        text-decoration-line: none;
      }
    }
  
    &:hover {
      cursor: pointer;
    }

    &:last-of-type {
      padding-right: 0;
    }
  
    @media only screen and (max-width: $mobile-size) {
      margin-left: 0.2rem;
      padding: 0.25rem 0.75rem;
    }
  }
}

.logo {
  font-family: 'Abril Fatface', serif;
  @include fluid-type(23px, 31px, 320px);
  line-height: 0.95;
  margin-top: -0.2rem;

  &:hover {
    cursor: pointer;
  }
}



.slide-move{
  transition: transform .3s ease-out;
}