@import '~@/styles/globals';
@import '~@/styles/typography';

nav {
  display: flex;
  justify-content: center;
  background: darken(#551ED6, 5%);

  // position: sticky;
  // top: 0;
  // left: 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-size;

  min-height: 1.75rem;

  padding: 1rem 1rem;
  color: $brand-color-white;
}

.logo {
  font-family: 'Abril Fatface', serif;
  @include fluid-type(25px, 31px);
  line-height: 0.95;
  margin-top: -0.2rem;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    padding: 0.25rem 1rem;
    margin-left: 1rem;
    line-height: 1;
    font-weight: bold;
    border-radius: 3px;
    // box-sizing: border-box;
    @include fluid-type(10px, 16px);

    transition: background-color 0.2s ease-in-out;

    a {
      display: block;

      &:active, &:visited, &:link {
        color: $brand-color-white;
        text-decoration: none;
        text-decoration-line: none;
      }
    }

    @media only screen and (max-width: $mobile-size) {
      margin-left: 0.5rem;

    }
  }
  
  li:hover {
    background: #DEC673;
    color: lighten($brand-color-purple, 7%);
    cursor: pointer;
  }
}

.slide-move{
  transition: transform .3s ease-out;
}