fade-transition(appear key="work")
  .work
    .page-container(v-scroll-reveal)
      .container
        h1 Development
          a.view-all View All
        .display
          div.example a
          div.example b
          div.example c
          div.example d

    .page-container(v-scroll-reveal)
      .container
        h1.reverse Design
          a.view-all View All
        .display
          div.example a
          div.example b
          div.example c
          div.example d

    .page-container(v-scroll-reveal)
      .container
        h1 Consultation
          a.view-all View All
        .display
          div.example a
          div.example b
          div.example c
          div.example d